<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/commandes.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Commandes</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand d-felx align-items-center" href="/">
                    <img src="../img/cloth-white.svg" alt="" width="25" class="me-2">
                     PressingApp
                 </a>
            </div>
        </nav>
    </header>
    <main class="container-fluid main">
        <img src="../img/bg.jpg" alt="">
        <div class="row">
            <div class="menu col-lg-2">
                <ul>
                    <li>
                        <a th:href="@{/employes/}">Employés</a>
                    </li>
                    <li>
                        <a th:href="@{/clients/}">Clients</a>
                    </li>
                    <li>
                        <a th:href="@{/categories/}">Categories</a>
                    </li>
                    <li>
                        <a th:href="@{/vetements/}">vêtements</a>
                    </li>
                    <li>
                        <a th:href="@{/commandes/}">Commandes</a>
                    </li>
                    <li>
                        <a th:href="@{/paiements/}">Paiements</a>
                    </li>
                </ul>

            </div>
            <div class="col-lg-10">
                <h1>Commandes</h1>
                <form action="/commandes/filter" method="get">
                    <div class="py-2 row d-felx align-items-center">
                       <div class="col-lg-10">
                         <input name="rechercher" type="text" class="form-control" placeholder="Rechercher une commande par nom client ...">
                       </div>
                        <div class="col-lg-2">
                             <button class="btn btn-dark">Rechercher</button>
                       </div>
                    </div>
                    <div class="radio_box">
                        <div>
                            <input type="radio" name="payee" id="payee" value="true">
                            <label for="payee">Payée</label>
                        </div>
                        <div>
                            <input type="radio" name="payee" id="nonpayee" value="false">
                            <label for="nonpayee">Non Payée</label>
                        </div>
                    </div>

                </form>
               
                <table class="table  ">
                    <thead class="bg-dark">
                        <tr>
                        <th>#</th>
                        <th>Employés</th>
                        <th>Clients</th>
                        <th>vêtements</th>
                        <th>Date Commande</th>
                        <th>Date Livraison</th>
                        <th>Payee</th>
                        <th>Edition</th>
                    </tr>
                    </thead>
                <tbody>
                    <tr th:each="commande : ${commandes}">
                       
                        <td th:text="${commande.id}"></td>
                         <td>
                            <span th:text="${commande.employe.nom}"></span>
                            (<span th:text="${commande.employe.prenom}"></span>)
                        </td>
                         <td>
                            <span th:text="${commande.client.nom}"></span>
                            (<span th:text="${commande.client.prenom}"></span>)
                        </td>

                        <td>
                            <span th:text="${commande.vetement.categorie.nom}"></span>
                            (<span th:text="${commande.vetement.quantite}"></span>)
                        </td>

                        <td th:text="${commande.dateCommande}"></td>
                         <td th:text="${commande.dateLivraison}"></td>
                        <td th:text="${commande.payee}"></td>
                        <td>
                            <a th:href="@{/commandes/edit/{id}(id = ${commande.id})}" class="btn btn-dark">Modifier</a>
                            <a th:href="@{/commandes/delete/{id}(id = ${commande.id})}"  class="btn btn-danger">Supprimer</a>
                        </td>
                    </tr>
                </tbody>
                </table>
                <a href="/" class="btn btn-dark " >Acceuil</a>
                <a th:href="@{/commandes/form}" class="btn btn-dark">Ajouter une Commande</a>
            </div>
        </div>
    </main>
<footer class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>2025 &copy; Tous droits réservés</p>
                </div>
            </div>
</footer>

<script>
    const commandes = document.querySelectorAll('.btn-danger');
    commandes.forEach((btn)=>{
    btn.addEventListener('click',(e)=>{
       if( !window.confirm("Voulez-vous vraiment effectuer cette suppression?")){
            e.preventDefault()
       }
    }) });

</script>
</body>
</html>