<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/commandes.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Commandes</title>
</head>
<body>
    
    <main class="container-fluid main">
        <div class="row">
            <div class="menu col-lg-2">
                <ul>
                    <li>
                        <a th:href="@{/employes/}">Employés</a>
                    </li>
                    <li>
                        <a th:href="@{/clients/}">Clients</a>
                    </li>
                    <li>
                        <a th:href="@{/categories/}">Categories</a>
                    </li>
                    <li>
                        <a th:href="@{/vetements/}">vêtements</a>
                    </li>
                    <li>
                        <a th:href="@{/commandes/}">Commandes</a>
                    </li>
                    <li>
                        <a th:href="@{/paiements/}">Paiements</a>
                    </li>
                </ul>

            </div>
            <div class="col-lg-10">
                <h1>Commandes</h1>
                <table class="table  ">
                    <thead class="bg-dark">
                        <tr>
                        <th>#</th>
                        <th>Date Commande</th>
                        <th>Date Livraison</th>
                        <th>Payee</th>
                        <th>Edition</th>
                    </tr>
                    </thead>
                <tbody>
                    <tr th:each="commande : ${commandes}">
                        <td th:text="${commande.id}"></td>
                        <td th:text="${commande.dateCommande}"></td>
                         <td th:text="${commande.dateLivraison}"></td>
                        <td th:text="${commande.payee}"></td>
                        <td>
                            <a th:href="@{/commandes/edit/{id}(id = ${commande.id})}" class="btn btn-dark">Modifier</a>
                            <a th:href="@{/commandes/delete/{id}(id = ${commande.id})}"  class="btn btn-danger">Supprimer</a>
                        </td>
                    </tr>
                </tbody>
                </table>
                <a href="/" class="btn btn-dark " >Acceuil</a>
                <a th:href="@{/commandes/form}" class="btn btn-dark">Ajouter une Commande</a>
            </div>
        </div>
    </main>

<script>
    const commandes = document.querySelectorAll('.btn-danger');
    commandes.forEach((btn)=>{
    btn.addEventListener('click',(e)=>{
       if( !window.confirm("Voulez-vous vraiment effectuer cette suppression?")){
            e.preventDefault()
       }
    }) });

</script>
</body>
</html>